{{#*inline "page"}}
<div class="container">
  <form>
    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-3">
        <select class="form-select" name="s1v" id="s1v">
          {{#each option as |o|}}
            <option value={{o.value}}>{{o.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-1">
        <select class="form-select" name="s1c" id="s1c">
          {{#each compare as |c|}}
            <option value={{c.value}}>{{c.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <input class="form-control me-2" type="search" name="s1">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <select class="form-select" name="s2s" id="s2s">
          {{#each logic as |l|}}
            <option value={{l.value}}>{{l.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-3">
        <select class="form-select" name="s2v" id="s2v">
          {{#each option as |o|}}
            <option value={{o.value}}>{{o.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-1">
        <select class="form-select" name="s2c" id="s2c">
          {{#each compare as |c|}}
            <option value={{c.value}}>{{c.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <input class="form-control me-2" type="search" name="s2">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <select class="form-select" name="s3s" id="s3s">
          {{#each logic as |l|}}
            <option value={{l.value}}>{{l.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-3">
        <select class="form-select" name="s3v" id="s3v">
          {{#each option as |o|}}
            <option value={{o.value}}>{{o.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-1">
        <select class="form-select" name="s3c" id="s3c">
          {{#each compare as |c|}}
            <option value={{c.value}}>{{c.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <input class="form-control me-2" name="s3">
      </div>
    </div>
    <div class="row mt-3">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </form>
</div>
{{/inline}}
{{> base}}
